{% extends "base.html" %}

{% block title %}HackLB: Geographic Datasets
{% endblock title %}

{% block css %}
	<link href='/static/geographic/css/geographic.css' rel='stylesheet' type='text/css'>
{% endblock css %}

{% block content %}

<h2>Welcome to HackLB: Business Licenses</h2>

<ul>
	<li><a href="licenses_by_district">Business Licenses: By District</a></li>
	<li><a href="licenses_by_business_class">Business Licenses: By Business Class</a></li>
</ul>

{% endblock content %}

{% block js %}
<script src="/static/geographic/js/geographic.js"></script>
{% endblock js %}