Django

django-debug-toolbar
django-split-settings
django-extensions
django-bootstrap-pagination

Celery
django-haystack
djangorestframework
djangorestframework-gis

psycopg2
simplejson
Pillow
requests
elasticsearch
pdfminer.six
PyPDF2
Werkzeug