{% extends "base.html" %}

{% block title %}Geographic Dataset: {{ dataset }}
{% endblock title %}

{% block css %}
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
	<link href='/static/geographic/css/geographic.css' rel='stylesheet' type='text/css'>
{% endblock css %}

{% block content %}

<h4><a href="{{ dataset.file.url }}">{{ dataset }}</a></h4>

<div id="dsmap"></div>

{% endblock content %}

{% block js %}
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
	<script src="/static/geographic/js/geographic.js"></script>
	<script src="/static/geographic/js/mapboxgl.js"></script>

	<script>
	$(document).ready(function() {
		console.log('adding this datasets map');
		addLayer(map, 
	        '{{ dataset.title }}', 
	        '{{ dataset.file.url }}', 
	        'fill', 
	        'rgba(61,153,80,0.8)');
	});
	</script>

{% endblock js %}

